KDOCS_CREDENTIAL_PATH=
KDOCS_BASE_URL=https://drive.kdocs.cn
KDOCS_365_BASE_URL=https://365.kdocs.cn
KDOCS_DIRECT_CONCURRENCY=2
KDOCS_AIRPAGE_CONCURRENCY=1
KDOCS_DIRECT_ATTEMPTS=3
KDOCS_AIRPAGE_ATTEMPTS=2
KDOCS_OUTPUT_DIR=
KDOCS_STATE_DIR=

